.Oats {
    /* display: flex; */
    height: 10px;
    width: 100%;
    /*flex: 1;*/
    /* box-sizing: border-box; */
    /* flex-basis: 30%; */
    /* border-right: solid 2px lightblue; */
    border: dotted 1px #003366;
    /* font-size: .7rem; */
    background: linear-gradient(45deg, grey, beige);
}

.Banana {
    padding: 4px;
    height: 10px;
    width: 100%;
    margin-bottom: 0px;
    /*flex: 1;*/
    box-sizing: border-box;
    flex-basis: 30%;
    /* border-right: solid 2px lightblue;
    border-left: solid 2px lightblue; */
    text-align: center;
    font-size: .7rem;
    background: linear-gradient(45deg, yellow, beige);
    border: dotted 1px #003366;
}

.Strawberries {
    padding: 4px;
    height: 10px;
    width: 100%;
    margin-bottom: 0px;
    /*flex: 1;*/
    box-sizing: border-box;
    flex-basis: 30%;
    /* border-right: solid 2px lightblue;
    border-left: solid 2px lightblue; */
    text-align: center;
    font-size: .7rem;
    background: linear-gradient(45deg, red, pink);
    border: dotted 1px #003366;
}

.Raspberries {
    padding: 4px;
    height: 10px;
    width: 100%;
    margin-bottom: 0px;
    /*flex: 1;*/
    box-sizing: border-box;
    flex-basis: 30%;
    /* border-right: solid 2px lightblue;
    border-left: solid 2px lightblue; */
    text-align: center;
    font-size: .7rem;
    background: linear-gradient(45deg, pink, magenta);
    border: dotted 1px #003366;
}

