.Container {
  position: absolute;
  right: 36%;
  top: 15%;
}

.textBoxWrapper {
    display: flex;
    /* padding: 85px 15px 0px 15px; */
    max-width: 100px;
    height: 140px;
    margin: 0 auto;
    flex-direction: column-reverse;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    border-radius: 10% 10% 0 0;
    background: rgb(0,176,255);
    background: linear-gradient(90deg, rgb(153, 255, 255,.6) 33%, rgba(255,255,255,.9) 56%, rgba(153, 255, 255,.6) 64%);
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 21% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%); 
    z-index: 1; 
  }

  .Overlay {
    
    /* padding: 85px 15px 0px 15px; */
    width: 100px;
    height: 140px;
    margin: 0 auto;
   
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    border-radius: 10% 10% 0 0;
    background-color:white;
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 21% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%); 
    z-index: 1;  
  }
 

  @media (min-width: 900px) {
    .text-box-wrapper {
      display: flex;
      justify-content: space-between;
      
    }
    .Container {
      position: absolute;
      right: 47%;
      top: 15%;
    }
  }
  
  .baseTrapezium {
    position: relative;
    width: 89px;
    height: 35px;
    background: #F5F5DC;
  /*   background: linear-gradient(to left, red, orange);  */
  -webkit-clip-path: polygon(6% 0, 94% 0, 100% 100%, 0 100%);
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    margin: 0 auto;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 
             0 0 50px rgba(0,0,0,0.1) inset;
    border-top: 1px solid black;
  }
  
  .baseRectangle {
    width: 89px;
    height: 35px;
    background: #F5F5DC;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 
             0 0 50px rgba(0,0,0,0.1) inset;
    
  }
  .topper {
    position: relative;
    width: 30px;
    height: 25px;
    background: #696969;
  /*   background: linear-gradient(to left, red, orange);  */
  -webkit-clip-path: polygon(27% 75%, 79% 75%, 90% 100%, 18% 100%);
  clip-path: polygon(21% 75%, 79% 75%, 86% 100%, 14% 100%);
    margin: 0 auto;
  }
  
  .topperFoundation {
    position: relative;
    width: 75px;
    height: 4px;
    background: #F5F5DC;
  /*   background: linear-gradient(to left, red, orange);  */
  -webkit-clip-path: polygon(27% 75%, 79% 75%, 90% 100%, 18% 100%);
  clip-path: polygon(21% 0%, 79% 0%, 86% 100%, 14% 100%);
    margin: 0 auto;
    padding: 0;
    border: 0;
  }
  
  .text-box-wrapper:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  